<!DOCTYPE html>
<html>
<head>
  <title>Gitdemo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>AIRHORN!!!!!</h1>
<h1><img src="http://ecx.images-amazon.com/images/I/61R%2BZDLuAfL.png"></h1>

<%= yield %>

</body>
</html>
